.note {
    color: gray;
    margin-right: 5rem;
    font-size: 1.1rem;
}

.community-div {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.button {
    margin-left: 4rem;
    color: white;
}

.community-logo {
    width: 2rem;
    margin-left: 4rem;
}

.footer {
    background-color: #111111;
    transition: all 0.3s ease-in-out;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1500px) {

    .footer {
        border-radius: 25px;
        margin: 30px;
    }
}

@media (max-width: 970px) {

    .community-div {
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    .note {
        color: gray;
        margin-right: 2rem;
        font-size: 1.1rem;
    }

    .community-logo {
        width: 2rem;
        margin-left: 1rem;
    }

    .footer {
        border-radius: 25px;
        margin: 30px;
    }

}

@media (max-width: 550px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }

    .community-div {
        margin: 0;
    }

    .community-logo {
        margin-left: 5px;
        margin-right: 5px;
    }

    .note {
        margin: 0;
    }
}

@media (max-width: 480px) {

    .footer {
        margin: 10px 10px;
    }

    .footer-container {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }

    .note {
        margin: 0;
    }
}

@media (max-width: 350px) {
    .footer {
        border-radius: 0;
        margin: 0;
    }
}
