.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111111;
    z-index: 10;
    position: relative;
}

.header__container {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav__container {
    display: flex;
    align-items: center;
    margin-right: 10rem;
    font-size: 1.5rem;
}

.button {
    margin-left: 4rem;
    color: white;
}

.header-logo {
    width: 4rem;
    margin-left: 10rem;
    margin-bottom: 0.2rem;
}

.menu {
    display: none;
}

@media (max-width: 800px) {

    .header {
        display: block;
        z-index: 10;
        position: relative;
    }

    .button {
        margin: 0;
    }

    .header__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo {
        margin-left: 2rem;
    }
    
    .nav__container {
        position: absolute;
        background-color: #111111;
        top: 1;
        z-index: 1;
        visibility: hidden;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        width: 100%;
        flex-direction: column;
        padding: 20px 20px;
    }

    .nav__container--opened {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        visibility: visible;
        transform: none;
    }

    .button {
        padding: 10px 10px;
    }

    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        max-width: 70px;
        max-height: 70px;
        padding-right: 20px;
    }

    .burger__svg {
        max-width: 70px;
        max-height: 70px;
    }

    .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
}

@media (max-width: 480px) {
    .header-logo {
        width: 3rem;
        margin-bottom: 0.2rem;
    }
}
