---
import Container from "../Container.astro";
---

<Container>
    <section id="about" class="about__section h-full rounded-xl flex flex-col items-center">
        <div class="about__container">
            <h1>About Sparcle Engine</h1>
        </div>
    </section>
</Container>