---
import Container from "../Container.astro"
---

<div class="hero__container w-full xl:flex xl:flex-row xl:justify-end p-5 sm:p-7 md:p-12 lg:p-24">
    <div class="title__container xl:absolute xl:left-12 xl:right-0 xl:top-64 2xl:left-24">
        <div class="title flex flex-row items-center mb-5 md:mb-8 w-fit rounded-full">
            <img src="/logo.png" alt="" class="title__logo hidden sm:block sm:w-12 md:w-14 lg:w-20">
            <h1><span class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-bold font-systemui text-transparent bg-clip-text bg-gradient-to-r from-purple-600 via-purple-500 to-purple-400">Sparcle Engine</span></h1>
        </div>
        <p class="hero__description font-jbmono font-light text-sm sm:text-sm md:text-base lg:text-lg xl:w-1/2 xl:text-xl 2xl:w-[570px]">Sparcle Engine is built by developers, for developers, with fair terms for all. Because everyone with an idea deserves to use the world’s most open, advanced real-time creation tool to bring it to life.</p>
        <div class="links__container flex flex-col pt-5 sm:flex-row sm:justify-start">
            <div class="links__download cursor-pointer hover:bg-cyan-200 transition-colors duration-200 bg-cyan-400 rounded-xl p-3 mb-5 text-black w-fit sm:mr-5 sm:mb-0">
                <a href="/download" class="download font-jbmono font-medium">Download</a>
            </div>
            <div class="links__about bg-transparent hover:bg-slate-500 cursor-pointer transition-colors duration-200 rounded-xl p-3 border-2 border-slate-500 w-fit">
                <a href="#about" class="about font-jbmono font-medium">About SREngine</a>
            </div>
        </div>
    </div>
    <div class="demo pt-[40px] xl:p-0 xl:w-2/3">
        <!-- <img src="/raptoid.gif" alt="" class="rounded-3xl"> -->
        <img src="/engine-demo-scene.png" alt="" class="rounded-3xl">
        <!-- <video src="/template.mp4" muted autoplay loop playsinline class="demo-video rounded-3xl"/> -->
    </div>
</div>
