---
import Container from "../Container.astro"
---

<section class="hero bg-gradient-to-r from-slate-950 to-gray-900">
    <div class="hero__container w-full xl:flex xl:flex-row xl:justify-end p-5 sm:p-7 md:p-12 lg:p-24 mt-24">
        <div class="title__container xl:absolute xl:left-12 xl:right-0 xl:top-64 2xl:left-24">
            <div class="title flex flex-row items-center mb-5 md:mb-8 w-fit rounded-full">
                <img src="logos/logo.png" alt="SpaRcle logo" class="title__logo hidden sm:block sm:w-12 md:w-14 lg:w-20">
                <h1><span class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-bold font-systemui text-transparent bg-clip-text bg-gradient-to-r from-purple-600 via-purple-500 to-purple-400">SpaRcle Engine</span></h1>
            </div>
            <p class="hero__description font-jbmono font-light text-sm sm:text-sm md:text-base lg:text-lg xl:w-1/2 xl:text-xl 2xl:w-[570px]">SpaRcle Engine is an ongoing game engine developed in C++. It aims to establish a strong base for game creation and is currently in the early stages of development, emphasizing the creation of a versatile and efficient architecture.</p>
            <div class="links__container flex flex-col pt-5 sm:flex-row sm:justify-start">
                <div class="links__download cursor-pointer hover:bg-cyan-200 transition-colors duration-200 bg-cyan-400 rounded-xl p-3 mb-5 text-black w-fit sm:mr-5 sm:mb-0 h-full">
                    <a href="/download" class="download font-jbmono font-medium">
                        Download
                    </a>
                </div>
                <div class="links__about bg-transparent hover:bg-slate-500 cursor-pointer transition-colors duration-200 rounded-xl p-3 border-2 border-slate-500 w-fit">
                    <a href="#about" class="about font-jbmono font-medium h-full">
                        About SREngine
                    </a>
                </div>
            </div>
        </div>
        <div class="demo pt-[40px] xl:p-0 xl:w-2/3">
            <video class="rabtoid__video rounded-3xl w-full h-full" loop autoplay muted playsinline>
                <source src="hero/raptoid640.webm" type="video/webm" media="(max-width: 640px)" sizes="(max-width: 640px) 640px">
                <source src="hero/raptoid768.webm" type="video/webm" media="(max-width: 768px)" sizes="(max-width: 768px) 768px">
                <source src="hero/raptoid1024.webm" type="video/webm" media="(max-width: 1024px)" sizes="(max-width: 1024px) 1024px">
                <source src="hero/raptoid1280.webm" type="video/webm" media="(max-width: 1280px)" sizes="(max-width: 1280px) 1280px">
                <source src="hero/raptoid1536.webm" type="video/webm" media="(max-width: 1536px)" sizes="(max-width: 1536px) 1536px">
                <source src="hero/raptoid.webm" type="video/webm" media="(max-width: 1920px)" sizes="(max-width: 1920px) 1536px">
                <source src="hero/raptoid.mp4" type="video/mp4" media="(max-width: 1920px)" sizes="(max-width: 1920px) 1536px">
            </video>
        </div>
    </div>
</section>
