---
import Container from "../Container.astro";
import Card from "../Card.astro";
import DataList from '../../data/news.json'

const items = DataList.news
---



<section class="news bg-black">
    <Container>
        <div class="news__container">
            <div class="news__header flex flex-row justify-between items-center pb-5">
                <h1 class="text-xl md:text-2xl 2xl:text-3xl font-bold font-inter">NEWS</h1>
                <div class="news-more__link bg-transparent hover:bg-slate-500 cursor-pointer transition-colors duration-200 border-slate-500 border-2 rounded-lg p-1.5">
                    <a href="/" class="font-inter font-medium">View all</a>
                </div>
            </div>
            <div class="news__container py-5 flex flex-wrap justify-center items-center">
                {items.map((item) => {
                    if(!item.icon) {
                        item.icon = '/logo.png';
                    }
                    return (
                        <Card icon={item.icon}
                              title={item.title}
                              description={item.description}
                              link={item.link}
                        />
                    )
                })}
            </div>
        </div>
    </Container>
</section>
