---
import Container from "../Container.astro";
---

<Container>
    <section class="news">
        <div class="news__header flex flex-row justify-between items-center pb-5">
            <h1 class="text-xl font-bold font-inter">NEWS</h1>
            <div class="news-more__link bg-transparent hover:bg-slate-500 cursor-pointer transition-colors duration-200 border-slate-500 border-2 rounded-xl p-1.5">
                <a href="/" class="font-inter font-medium">View all</a>
            </div>
        </div>
        <div class="news__container flex justify-center items-center h-40 border-t-2 border-b-2">
            <h1 class="font-bold text-3xl">Work in Progres</h1>
        </div>
    </section>
</Container>