---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="tmp">404. The requested page was not found.</p>
</Layout>

<style>
	.tmp {
		text-align: center;
        color: white;
        font-size: 2rem;
	}
</style>