---
import Layout from "../layouts/Layout.astro"
import Container from "../components/Container.astro"
---

<Layout title="404 Not Found">
    <Container>
        <div class="404__container flex flex-col justify-center items-center">
            <h2 class="text-6xl font-bold">Not Found</h2>
            <h1 class="text-6xl font-medium">404</h1>
        </div>
    </Container>
</Layout>
