---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css'
---

<Layout> 
	<h1><span class="text-gradient">SpaRcle Studio</span></h1>
	<p class="tmp">Work in progress.</p>
</Layout>
