---
interface Props {
    icon: string;
    title: string;
    description: string;
    link: string;
}

const { icon, title, description, link } = Astro.props;
---

<div class="card mx-2 my-2 bg-card min-w-64 max-w-[400px] p-5 flex flex-col rounded-xl">
    <div class="card__top w-fit mb-5">
        <img src=`${icon}` class="w-full rounded-xl sm:h-[250px]"></img>
    </div>
    <div class="card__bottom h-[18rem] flex flex-col 2xl:flex-row 2xl:justify-between">
        <h3 class="title text-xl mb-4 font-bold 2xl:m-0">{title}</h3>
        <div class="card__description h-full min-h-[12rem] 2xl:max-w-[14rem] flex flex-col justify-between">
            <p class="description text-sm sm:text-base md:text-md">{description}</p>
            <div class="news__button font-inter cursor-pointer px-3 py-1 border-2 border-cyan-500 hover:bg-cyan-500 hover:text-black transition-colors duration-200 w-fit rounded-3xl">
                <a href=`${link}` class="news__link">
                    View more
                </a>
            </div>
        </div>
    </div>
</div>
