<footer class="footer">
    <div class="community-div">
        <a href="https://github.com/SpaRcle-Studio/">
            <img src="/community/github.png" alt="SpaRcle Studio's GitHub" class="community-logo"/>
        </a>
        <a href="https://discord.gg/RXndN43QF8">
            <img src="/community/discord.png" alt="SpaRcle Studio's Discord Server" class="community-logo"/>
        </a>
        <a href="https://forum.sparcles.dev/">
            <img src="/community/forum.png" alt="SpaRcle Studio's Forum" class="community-logo"/>
        </a>
    </div>
    <p class="note">Made w/ <3 by innerviewer.</p>
</footer>

<style>
    .note {
        color: gray;
        margin-right: 10rem;
        font-size: 1.1rem;
    }
    .community-div {
        display: flex;
        align-items: center;
        margin-left: 10rem;
    }
	.button {
		margin-left: 4rem;
		color: white;
	}
	.community-logo {
		width: 2rem;
        margin-left: 4rem;
	}
	.footer {
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
		align-items: center;
		justify-content: space-between;
        background-color: #111111;
	}
</style>