---
const dateYear = new Date().getFullYear();
---

<footer class="footer bg-custom_components">
    <div class="footer__container flex flex-col justify-center items-center p-3 h-24 sm:flex-row sm:justify-between">
        <div class="footer-container flex flex-row mb-2 sm:mb-0">
            <a href="https://github.com/SpaRcle-Studio/">
                <img src="/community/github.png" alt="SpaRcle Studio's GitHub" class="community-logo w-8 mx-1 sm:mx-2 lg:mx-10"/>
            </a>
            <a href="https://discord.gg/RXndN43QF8">
                <img src="/community/discord1.png" alt="SpaRcle Studio's Discord Server" class="community-logo w-8 mx-1 sm:mx-2 lg:mx-10"/>
            </a>
            <a href="https://forum.sparcles.dev/">
                <img src="/community/forum.png" alt="SpaRcle Studio's Forum" class="community-logo w-8 mx-1 sm:mx-2 lg:mx-10"/>
            </a>
        </div>
        <p class="note font-jbmono text-xs sm:text-sm md:text-base">SpaRcle Studio {dateYear}</p>
        <div class="creators sm:m-2 flex justify-center items-center flex-col">
            <p class="note font-jbmono text-xs sm:text-sm md:text-base">Made by Vega7 & innerviewer.</p>
        </div>
    </div>
</footer>
