---

---

<div class="header">
    <a href="/">
        <img src="/logo.png" alt="SpaRcle Studio" class="header-logo"/>
    </a>

    <div class="buttons-div">
        <a href="/download" class="button">Download</a>
        <a href="/wiki" class="button">Wiki</a>
        <a href="https://forum.sparcles.dev/" class="button">Forum</a>
    </div>
</div>

<style>
    .buttons-div {
        display: flex;
        align-items: center;
        margin-right: 10rem;
        font-size: 1.5rem;
    }
	.button {
		margin-left: 4rem;
		color: white;
	}
	.header-logo {
		width: 4rem;
        margin-left: 10rem;
        margin-bottom: 0.2rem;
	}
	.header {
		display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
		align-items: center;
		justify-content: space-between;
        background-color: #111111;
	}
</style>