<header class="header bg-custom_components fixed w-full z-50">
    <div class="header__container flex flex-row justify-between items-center px-5 h-24">
        <div class="logo mx-2">
            <a href="/" class="w-12 h-12">
                <div class="logo__container flex flex-row items-center">
                    <img src="/logo.png" alt="SpaRcle Studio" class="w-12 h-12"/>
                    <h1><span class="hidden sm:block sm:text-lg md:text-xl lg:text-2xl font-bold font-systemui text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-cyan-500">SPARCLE STUDIO</span></h1>
                </div>
            </a>
        </div>
        <h1><span class="sm:hidden text-xl md:text-xl lg:text-2xl font-bold font-systemui text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-cyan-500">SPARCLE STUDIO</span></h1>
        <button class="burger-button sm:hidden mr-3">
            <div class="tham tham-e-squeeze tham-w-6">
                <div class="tham-box">
                  <div class="bg-white tham-inner" />
                </div>
            </div>
        </button>
        <nav class="nav__container bg-custom_components hidden sm:flex">
            <a href="/download" class="button p-5 mx-3 md:mx-5 font-bold hover:text-cyan-300 transition-colors duration-200">DOWNLOAD</a>
            <a href="/wiki" class="button p-5 mx-3 md:mx-5 font-bold hover:text-cyan-300 transition-colors duration-200">WIKI</a>
            <a href="https://forum.sparcles.dev/" class="button p-5 mx-3 md:mx-5 font-bold hover:text-cyan-300 transition-colors duration-200">FORUM</a>
        </nav>
    </div>
    <script>
        import '../scripts/burger-menu.ts'
    </script>
</header>
