---
import Hero from "./sections/hero.astro"
import News from "./sections/news.astro"
import About from "./sections/about.astro"
---

<main class="w-full">
    <Hero />
    <News />
    <About />
</main>
