---
import Hero from "./sections/hero.astro"
import News from "./sections/news.astro"
import About from "./sections/about.astro"
import Stats from "./sections/stats.astro"
import Features from "./sections/features.astro"
import Platforms from "./sections/platforms.astro"
import Gallery from "./sections/gallery.astro"
import Philosophy from "./sections/philosophy.astro"
import Releases from "./sections/releases.astro"
import GettingStarted from "./sections/getting-started.astro"
import Libraries from "./sections/libraries.astro"
import Community from "./sections/community.astro"
import Contributors from "./sections/contributors.astro"
---

<main class="w-full">
    <Hero />
    <Stats />
    <Features />
    <Platforms />
    <Gallery />
    <Philosophy />
    <Releases />
    <GettingStarted />
    <Libraries />
    <Community />
    <Contributors />
    <News />
    <About />
</main>
